body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.w-60 {
    width: 60px;
}

.w-500 {
    width: 500px;
}

.w-278 {
    width: 278px
}

.h-60 {
    height: 60px;
}

.visibility {
    z-index: 10;
    position: absolute;

}

.icon-button {
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border: 0;
    border-radius: 50%;
    padding: 10px;
}

.flex-center-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around-items-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.mr-10 {
    margin-right: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    padding-top: 60px;
}

.mb-60 {
    padding-bottom: 60px;
}

.mr-24 {
    margin-right: 24px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 40px;
}

.t-150 {
    top: 150px;
}

.bg-white {
    background: white;
}

.card-padding {
    padding: 17px 33px 17px 33px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 100px 100px 43px;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links > a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.header-links > a:hover {
    color: silver;
}

.buttons-with-products-and-registr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-button {
    width: 150px;
    height: 40px;
    color: white;
    background: #09A66D;
    border-radius: 8px;
    border: 0;
    padding: 10px 23px 10px 23px;
}

.register-button:hover {
    background: #107551;
}

#fruit-and-vegetable {
    background: #F3FBF8;
}

.leafs {
    bottom: 70px;
    position: relative;
    right: 42px
}

.header {
    font-weight: bold;
    font-size: 50px;
    line-height: 90px;
}

.info-first-block {
    z-index: 1;
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    right: 35%;
}

.text {
    position: relative;
    width: 70%;
    right: 20%;
}

.arr-btn {
    border: 0;
    background: #09A66D;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 20px 16px 16px 16px;
}

.arr-btn:hover {
    background: #107551;
}

.bucket-of-fruits-and-vegetable {
    width: 660px;
    height: 300px;
    background-image: url("https://s3-alpha-sig.figma.com/img/b400/d652/88a1545b6fb812f2c5880b2d5b85bfd4?Expires=1642377600&Signature=ZEokxx~8KuTFNKnEj3QBREzk4JAS5zlqHSAKnzbeEO-IkW6mKn1zjQ1j5eeJW8Fmn~Uhey8x228Vp0pTqxBbU3MPZZ2-U5kZVkJYs9d9AX39PkeKDWmNT5m11GcBTUoYziiETvSqVMQNpUlTgPoPiDB7Iu3hH3CmHRCWBusiVwNNUud8-gjnnG-M9E11UkwrrLQKkq5NIuUREC~0kZ0YLFL4-mOOXsVWTEGkzRSlPKLTRPUgiqQpqWeAPCFgwNT82uXuH15l8I-aHYFgmW62xEELvfRRm-mhoBDomijIoN3DJS4RAf3usAFWDdMYAZuY0ggctHMnb4LvCcpEiWjCzQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-blend-mode: darken;
}

.users-info {
    background: white;
    padding: 17px 33px 17px 33px;

}

.icon-card {
    background: #F3FBF8;
    border-radius: 50%;
    padding: 12px;
}

.icon-template {
    background: white;
    border-radius: 50%;
    padding: 12px;
}

.card-info {
    width: 75%;
    margin-left: 25px;
}

.card-header {
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    width: 90px;
}

.card-text {
    width: 90px;
    font-size: 18px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 400px;

    border-radius: 10px;

    background: rgba(9, 166, 109, 1);
    color: white;
}

.form input {
    outline: none;
    border-radius: 8px;
    border: 1px solid #107551;
    padding: 10px;
    background: rgba(9, 166, 109, 0.1);
}

.form input:focus {
    background: #F3FBF8;
    border: 1px solid green;
}

.selectInput {
    outline: none;
    border-radius: 8px;
    border: 1px solid #107551;
    padding: 10px;
    background: rgba(9, 166, 109, 0.1);
    margin-top: 20px;
    margin-left: 20px;
}

.selectInput:focus {
    background: #F3FBF8;
    border: 1px solid green;
}

.selectInput option {
    border-radius: 10px;
}

.selectInput option:hover {
    color: silver;
    background: #107551;

}

.btn-submit {
    width: 150px;
    height: 40px;
    color: white;
    background: aqua;
    border-radius: 8px;
    border: 0;
    padding: 10px 23px 10px 23px;
}

.vector-background {
    position: relative;
    z-index: -1;
    bottom: 900px;
    left: 0;
}

.header-and-description {
    z-index: 1;
    position: relative;
    width: 671px;
    height: auto;
    margin-top: 140px;
    margin-left: 50px;
}

#work-img {
    width: 300px;
    height: 411px;
    right: 14%;
    z-index: 1;
    position: absolute;
    padding-top: 32px;
    padding-right: 15px;
}

#icons-for-work {
    width: 420px;
    height: 420px;
}

.z-index {
    z-index: 1;
}

.some-template {
    background: #F3FBF8;
    padding: 10px;
}
